{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay-black-page"></div>
    <div class="padding-content-down">
        <h1 class="color-yellow text-center">Contact Us</h1>
    </div>

    <div class="container contact-page-container">
        <div class="row my-5">
            <div class="col-12 col-sm-6 order-second order-sm-first white-color mt-3 contact-links">
                <div class="row">
                    <div class="col">
                        <p><a href="" class="text-decoration-white"><i class="fas fa-map-marker-alt color-yellow pr-1"></i>
                            City Park House,<br>
                            21 Sullivans Quay,<br>
                            Cork <br>
                            T12 N6CW
                            </a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><a href="tel:+0214270311" target="_blank" class="white-color"><span class="block"><i class="fas fa-phone-alt pr-1 color-yellow"></i> (021) 4270311</span></a></p>
                        <p><a href="tel:+0214271296" target="_blank" class="white-color"><span class="block"><i class="fas fa-fax pr-1 color-yellow"></i> (021) 4271296</span></a></p>
                        <p><a href="mailto:keanemahonysmith@gmail.com" target="_blank" class="white-color"><span class="block"><i class="far fa-envelope pr-1 color-yellow"></i> keanemahonysmith@gmail.com</span></a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    </div>
                </div>
            </div>
            <!-- From from forms.py -->
            <div class="col-12 col-sm-6 order-first order-sm-second white-color">
                <form id="contact-form" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                    </fieldset>
                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="{{ google_site_key}}"></div>
                    <div class="form-group mt-4">
                        <button class="btn btn-yellow" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}