{% extends "base.html" %}
{% load static %}
{% block page_header %}
    <nav class="navbar navbar-expand-lg w-100 navbar-dark bg-dark">
        <!-- BRAND AND LOGO-->
        <a class="navbar-brand uppercase" href="#"><img src="{{ MEDIA_URL}}kms_logo.png" alt="404 image" class="logo_img"></a>
        <!-- HAMBURGER MENU FOR SMALLER SCREEN WIDTHS-->
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarToggler1" aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <!-- NAVBAR -->
        <div class="collapse navbar-collapse" id="navbarToggler1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-right mr-2">
                <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-right mr-2">
                <a class="nav-link" href="#">Properties</a>
                </li>
                <li class="nav-right mr-2">
                <a class="nav-link" href="#">Selling</a>
                </li>
                <li class="nav-right mr-2">
                <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid hero-image-container">
        <div class="hero-image">
            <img src="{{ MEDIA_URL}}patricks_bridge.jpg" alt="">
        </div>
        <div class="cta">
            <h2>World Class Service & Local Expertise</h2>
        </div>
    </div>

{% endblock%}

{% block content %}

{% endblock %}
