{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/testimonial.css' %}">
{% endblock %}

{% block page_header %}
    <nav class="navbar navbar-expand-lg w-100">
        <!-- BRAND AND LOGO-->
        <a class="navbar-brand uppercase" href="{% url 'home' %}"><img src="{{ MEDIA_URL}}kms_logo.png" alt="404 image" class="logo_img"></a>
        <!-- HAMBURGER MENU FOR SMALLER SCREEN WIDTHS-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler1" aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <!-- NAVBAR -->
        <div class="collapse navbar-collapse" id="navbarToggler1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-right mr-2">
                <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-right mr-2">
                <a class="nav-link" href="{% url 'properties' %}">Properties</a>
                </li>
                <li class="nav-right mr-2">
                <a class="nav-link" href="#">Selling</a>
                </li>
                <li class="nav-right mr-2">
                <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="hero-image-container">
        <div class="cta">
            <h1 class="text-uppercase">KMS</h1>
            <h2>World Class Service & <br> Local Expertise</h2>
        </div>
        <div class="about-kms">
            <h3>About Us</h3>
            <div class="vertical"></div> 
        </div>
        
    </div>

{% endblock%}

{% block content %}


    <section class="about">
        <div class="container-fluid about-container about-wrapper-cream about">    
            <div class="row padding-row">
                <div class="col-12 col-lg-3 offset-lg-1">
                    <h4 class="text-uppercase">a Boutique Agency who cares</h4>
                </div>
                <div class="col-12 col-lg-6 offset-lg-1 about-paragraph">
                    <p>Keane Mahony Smith auctioneers and estate agents are one of the largest and most established property selling agents in the south of Ireland, 
                    specializing in quality residential and commercial property, farms and lands, coastal and country.
                    </p>
                    <p> We pride ourselves on our “one to one” personal service, giving both vendors and customers our undivided personal attention.
                    We are confident that, whatever your property requirements, 
                    selling or purchasing we can cater for them at Keane Mahony Smith Cork.
                    </p>
                </div>
            </div>
            <div class="row py-2">
                <div class="col col-lg-7 offset-lg-5 about-paragraph">
                    <p>Yours Faithfully,</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-4 col-lg-3 offset-lg-1 order-second order-lg-first ">
                    <h3 class="signature">Darragh Taaffe</h3>
                </div>
                <div class="col-4 col-lg-6 offset-lg-1 order-first order-lg-second about-paragraph">
                    <p>Darragh Taaffe & Anthony O'Regan</p>
                </div>
            </div>
            <div class="row pb-container">
                <div class="col-4 offset-8 col-lg-3 offset-lg-1">
                    <h3 class="signature">Anthony O'Regan</h3>
                </div>
            </div>
           
            <div class="row services-widget-container">
                <div class="col-6 offset-3 col-lg-4 offset-lg-3 services-widget">
                    <h3 class="text-center margin-widget charcoal-text">Our Services</h3>
                    <div class="services-vertical-widget"></div>
                </div>
            </div>
        </div>
    </section>
  
    <section class="services">
        <div class="container-fluid charcoal-wrapper">
           
            <div class="row">
                <div class="col-10 col-lg-3 offset-1 offset-lg-2 order-second order-lg-first information-column residential-info my-auto d-none d-lg-inline" data-aos="fade-up"  data-aos-duration="1000" data-aos-offset="200">
                    <span><h3 class="yellow-text">Residential Property</h3></span>
                    <p>We pride ourselves on our “one to one” personal service, giving both vendors and customers our undivided personal attention.</p>
                    <p>Feel assured you are in safe hands with an experienced auctioneers in a wide range of residential sales, from country and equestrian houses, to waterfront property and new developments.</p>
                </div>
                <div class="col-10 offset-1 col-lg-7 offset-lg-0 order-first order-lg-second p-lg-0" data-aos="fade-left" data-aos-delay="800"> 
                     <img src="{{ MEDIA_URL}}residential_interiorlg.jpg" alt="" class="services-image residential-img">
                    <span class="d-lg-none services-header-small-extra"><h2 data-aos="fade-left">Residential</h2></span>
                    <span class="d-lg-none services-header-small"><h2 data-aos="fade-left">Property</h2></span>
                </div>
            </div>
          
            <div class="row">
                <div class="col-10 offset-1 col-lg-5 offset-lg-0 p-lg-0" data-aos="fade-right">
                    <img src="{{ MEDIA_URL}}land_sales.jpg" alt="image of agriculture property" class="services-image land-img">
                    <span class="d-lg-none services-header-small-extra"><h2 data-aos="fade-left">Land</h2></span>
                    <span class="d-lg-none services-header-small"><h2 data-aos="fade-left">Sales</h2></span>
                </div>
                <div class="col-10 col-lg-5 offset-1 offset-lg-1 information-column land-info my-auto d-none d-lg-inline" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
                    <span><h3 class="yellow-text">Land Sales</h3></span>
                    <p>Whether you are buying or selling land for commercial or residential purposes, Keane Mahony Smith can work with you throughout the entire process, offering valuable insight and hands-on expertise at every stage.</p>
                </div>
            </div>
         
            <div class="row padding-lg">
                <div class="col-10 col-lg-3 offset-1 offset-lg-2 order-second order-lg-first information-column commercial-info my-auto d-none d-lg-inline" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
                     <span><h3 class="yellow-text">Commercial Property</h3></span>
                    <p>Working with national and international commercial property owners, occupiers, investors and developers, our specialist teams have an in-depth knowledge of, and experience in, all aspects of commercial property markets in Ireland.</p>
                    <p>From offices to business parks and industrial units to development land, our exceptional commercial acumen allows us to respond to a wide range of commercial property needs across Ireland and globally.</p>
                </div>
                <div class="col-10 offset-1 col-lg-7 offset-lg-0 order-first order-lg-second p-lg-0" data-aos="fade-left">
                    <img src="{{ MEDIA_URL}}office_interiorlg.jpg" alt="image of office property" class="services-image commercial-property-img">
                    <span class="d-lg-none services-header-small-extra"><h2 data-aos="fade-right">Commercial</h2></span>
                    <span class="d-lg-none services-header-small"><h2 data-aos="fade-right">Property</h2></span>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid testimonials-widget-container">
        <div class="row">
            <div class="col-6 offset-3 testimonials-widget">
                <h3 class="text-center margin-widget" data-aos="fade" data-aos-duration="3000">Testimonials</h3>
                <div class="testimonials-vertical-widget"></div>
            </div>
        </div>
    </div>
 
    <div class="overlay">
        <section class="testimonials">
            <div class="container testimonials-container overflow-hidden">
                <div class="testimonial-carousel">
                    {% for testimonial in testimonials %}
                    <div class="card-testimonials">
                        {% if testimonial.image %}
                        <img src="{{ MEDIA_URL}}{{ testimonial.image }}" alt="{{ testimonial.clients_name }}" class="rounded-circle w-50 mx-auto">
                        {% else %}
                        <img class="rounded-circle w-50 mx-auto" src="{{ MEDIA_URL }}noimage.jpg" 
                        alt="{{ testimonial.clients_name }}"/>
                        {% endif %}
                            <div class="testimonial-body">
                                <h5 class="card-title">{{ testimonial.clients_name }}</h5>
                                <p class="card-text mb-4">{{ testimonial.comment }}</p>
                                <p class="card-text d-flex align-bottom">
                                <small class="text-muted">{{ testimonial.date_published }}</small>
                                </p>
                            </div>
                    </div>
                    {% endfor %}
                </div>
            </div> 

      
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 offset-3 services-widget">
                        <h3 class="text-center margin-widget charcoal-text">Meet the Team</h3>
                        <div class="services-vertical-widget"></div>
                    </div>
                </div> 
            </div> 
        </section>
    </div>
   
    <div class="charcoal-overlay">
        <div class="container team-container">
            <section class="meet-the-team">
                <div class="row pt-team">
                    {% for agent in agents %}
                    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-lg-3 mb-team team-padding">
                        <div class="team-card">
                            <div class="item">
                            {% if agent.image %}
                                <img src="{{ MEDIA_URL}}{{ agent.image }}" alt="{{ agent.name }}" class="team-img img-fluid">
                            {% else %}
                                <img class="team-img img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ agent.name }}"/>
                            {% endif %}
                            </div>
                            <div class="contact-team">
                                <div class="info">
                                <h5 class="team-name">{{ agent.name }}</h5>
                                <hr class="team-hr">
                                <small class="job-title">{{ agent.position }}</small>
                                    <div class="contact-links hover-content pt-2">
                                        <span><i class="fas fa-phone-alt"></i> </span>
                                        <p class="p-lighter">{{ agent.phone_number }}</p>
                                        <span><i class="fas fa-envelope"></i> </span>
                                        <p class="p-lighter">{{ agent.email_address }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>    
    </div>
    <!--FOOTER-->
    <footer class="container-fluid overflow-hidden">
        <div class="footer-body text-align">
            <div class="row">
                <div class="col-md-12 offset-md-1 footer-co-heading mb-4">
                    <h4>Keane Mahony Smith</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 offset-md-1 col-lg-4 offset-lg-1 contact-links">
                    <a href="tel:+0214270311" target="_blank" class="white-color"><span class="block"><i class="fas fa-phone-alt pr-1"></i> (021) 4270311</span></a>
                    <a href="tel:+0214271296" target="_blank" class="white-color"><span class="block"><i class="fas fa-fax pr-1"></i> (021) 4271296</span></a> 
                    <a href="mailto:info@keanemahonysmith.ie" target="_blank" class="white-color"><span class="block"><i class="far fa-envelope pr-1"></i> info@keanemahonysmith.ie</span></a>
                </div>
                <div class="col-md-5 offset-md-1 col-lg-4 offset-lg-3 address-links">
                    <a href="https://www.google.com/maps/place/Keane+Mahony+Smith/@51.8955069,-8.4765905,17z/data=!3m1!4b1!4m5!3m4!1s0x4844901a787e1019:0x4c7306f95cf5ab15!8m2!3d51.8955069!4d-8.4744018" class="white-color">
                        <i class="fas fa-map-marker-alt"></i>
                        City Park House, <br>
                        21 Sullivans Quay,<br>
                        Cork <br>
                        T12 N6CW
                    </a>
                    <p class="pt-2">PRS Licence Number : 001394</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 offset-md-1 col-lg-4 offset-lg-1 mb-4">
                    <img src="{{ MEDIA_URL}}kms_logo.png" alt="404 image" class="">
                </div>
                <div class="col-md-5 offset-md-1 col-lg-4 offset-lg-3 social-links">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/Keane-Mahony-Smith-380117782034207" target="_blank" class="">
                            <i class="fa fa-facebook social-links-i"></i>
                        </a>
                    </li>
                     <li class="list-inline-item">
                        <a href="https://www.instagram.com/keanemahonysmith/" target="_blank">
                            <i class="fa fa-instagram social-links-i" ></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://ww1.daft.ie/cork/estate-agents/cork-city/k-m-s/?d_rd=1" target="_blank">
                            <img src="{{ MEDIA_URL}}daft-logo.png" alt="daft-logo" class="daft-logo">                        
                        </a>
                    </li>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 offset-md-1 col-lg-4 offset-lg-1  web-design">
                    <p>Website Design: <a href="https://www.linkedin.com/in/patrick-coakley-a0919410b/"
                    target="_blank"  class="white-color underline">Patrick Coakley</span></p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block postloadjs %}    
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset:200,
            once: true,
        });
    </script>
    <script>
        $('.testimonial-carousel').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3,
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: false,
                    dots: true,
                    }
                }
              ]
        });
    </script>
  
{% endblock %}
