{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay-black-page"></div>
    <div class="container padding-content-down">
        <h1 class="color-yellow text-center">Selling Your Property?</h1>
        <div class="row">
            <div class="col white-color my-3">
                <p>
                We are well aware that selling a property can be a very stressful time. The devil is in the detail, and we are on hand to ensure no detail is overlooked, 

                As a boutique agency you can be sure you will only deal with people who really care, We are on hand for every step on the process, assisting and advising wherever necessary to deliver not only the best price but the smoothest selling experience possible, 

                Being an 'owner run' business we can tailor our service to suit your needs. 
                </p>
            </div>
        </div>
    </div>
    <div class="container white-color">
        <h3 class="color-yellow text-center">Steps to Selling Your Property With KMS</h3>
        <div class="row">
            <div class="col-12">
                <h4 class="color-yellow">1. Valuation</h4>
                <p>
                    Arrange an appointment with Keane Mahony Smith where an experienced member of our team will complete a free, no obligation market appraisal evaluation. 
                </p>
                <p>
                    We will advise you on the contributing factors to the valuation of your property, which include current market conditions, location, similar house sales, house condition, local transport links and amentites etc. We will help you with any work that can increase the chances of you selling your property
                </p>
            </div>
            <div class="col-12">
                <h4 class="color-yellow">2. Advising a Property Solicitor</h4>
                <p>
                    The conveyancing process (transfer of legal title from one person to the next) is standard through out Ireland. However, a proactive, engaged and experienced solictor can make a big difference in ensuring the transaction is done as efficiently and effectively as possible without any unnecessary delays or hiccups.
                </p>
            </div>
            <div class="col-12">
                <h4 class="color-yellow">3. Marketing</h4>
                <p>
                    A Keane Mahoney Smith agent will work with you to create a plan based on your preferences with the right mix of visible online and offline marketing. We can also offer professional photography and video producing to make your property stand out. 
                </p>
            </div>
            <div class="col-12">
                <h4 class="color-yellow">4. Getting Your House in Order</h4>
                <p>
                    First impressions are vital. Serious buyers will have an eye for detail so its important to be meticulous. A professional clean can transform your property and get rid of any deterring smells and stains. 
                </p>
                <p>
                    Its imperative to make the house, cloakrooms and cabinets clutter free so house appears more spacious. 
                </p>
                <p>
                    Curd Appeal - Tidy up your front garden and entrance. Cut the grass, wash the windows and clean up the peeling paint. Little improvements can make all the difference in selling your property and getting your desired asking price. 
                </p>
            </div>
            <div class="col-12">
                <h4 class="color-yellow">5. Offers</h4>
                <p>
                    Whenever an offer is received you will be informed verbally. We will advise you on whether its a good offer or whether their may be room to negotiate the deal. Our experienced team will negotiate on your behalf and advise you on the best applicant for your needs. At the end of the day it's your decision whether or not to accept an offer. 
                </p>
            </div>
            <div class="col-12">
                <h4 class="color-yellow">6. Sale Agreed</h4>
                <p>
                    Once you have accepted an offer, your property will go sale agreed. We will then seek a booking deposit between 2%-5% of the purchase price and will remove the property from the market. 
                </p>
                <p>
                    Sale agreed is not legally binding for either party and a booking deposit is refundable until contracts are exchanged. 
                </p>
                <p>
                    The buyer at this stage will likely seek a structural survey and a bank valuation for the bank (if they are drawing down a mortgage) which your agent will help organise.
                </p>
            </div>
            <div class="col-12">
                <h4 class="color-yellow">7. Exchange of Contracts </h4>
                <p>
                    At this stage the solictors acting on your behalf will draw up the Draft Contract and send it to the buyers solictor. Once the draft has been approved, it can be signed by both parties. 
                </p>
                <p>
                    As long as the mortgage offer has been received and cleared funds placed with your buyer’s solicitor, a mutually convenient date can be agreed upon for the exchange of contracts.
                </p>
                <p>
                    The completion and your sale can take  several months after exchange of contracts, depending you and the buyer and and yere respective solicitors.
                </p>
            </div>
        </div>




    </div>

{% endblock %}