option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "KMS.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "KMS.wsgi:application"
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    "/static": "static/"

container_commands:
  01_deploy_hook_permissions:
    command: |
      sudo find .platform/ -type f -iname "*.sh" -exec chmod -R 755 {} \;
      sudo find /var/app/staging/.platform/ -type f -iname "*.sh" -exec chmod -R 755 {} \;

