commands:
  pip_upgrade:
    command: /var/app/venv/staging-LQM1lest/bin/python -m pip install --upgrade pip==22.0.3
    ignoreErrors: false

packages:
    yum:
        git: []    
        amazon-linux-extras: []

commands:
    01_postgres_activate:
        command: sudo amazon-linux-extras enable postgresql10
    02_postgres_install:
        command: sudo yum install -y postgresql-devel