container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "echo \"from django.contrib.auth.models import User; User.objects.create_superuser('patrickcoakley23' 'patrickcoakley23@gmail.com', 'Melonhead23')\" | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: KMS.settings