@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'IBM Plex Serif', serif;
    letter-spacing: 3px;
}

.yellow-text {
    color: #ffdd17;
}

.padding-row {
    padding: 60px 0;
}
/* NAVBAR */

.navbar {
    position: fixed;
    z-index: 100;
    padding: 0 4rem;
}

.navbar-nav .nav-link {
    color: white;
    font-family: 'IBM Plex Serif', serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}

.navbar-nav .nav-link:hover {
    color: #ffdd17;
    font-family: 'IBM Plex Serif', serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}

.navbar-toggler {
    border: 1px solid black;
}

.logo_img {
    width: 60%;
}

/* Hero Image */

 .hero-image-container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/media/patricks_bridge.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
 }

.cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cta h1 {
    font-family: 'Playfair Display', serif;
    color: #ffdd17;
    font-weight: 700;
}

.about-kms {
    position: absolute;
    bottom: 5%;
    left: 30%;  
    color: #F1F2F2;
 
}

/* Trick from https://www.geeksforgeeks.org/how-to-make-a-vertical-line-using-html/ */

.vertical { 
    border-left: 3px solid #F1F2F2;
    height: 75px;
    position: absolute;
    left: 48%;
} 

/* ABOUT SECTION  */

.about-wrapper-cream {
    background-color: #F1F2F2;
    color:  #574c52;;
}

.about-header {
    padding-left: 6em;
}

.about-paragraph {
    padding: 0 6em;
}

/* SERVICES SECTION */

.charcoal-text {
    color: #555555;
}

.charcoal-wrapper {
    background-color: #555555;
    color: white;
    padding-bottom: 1150px;
    overflow: hidden;
    height: 100%;
}

.services-image {
    height: 400px;
    width: 100%;
    border: 0;
    border-left: 2px solid #555555;
    object-fit: cover;
    position: relative;
}

.residential-img {
    object-fit: cover;
}

.image-pt {
    padding-top: 1.5rem;
}

.services-header-small {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 3px;
    text-decoration: underline;
}

.services-header-small-extra {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 3px;
    text-decoration: underline;
}

@media (min-width: 992px) {
    .commercial-property-img {
        margin-top: -60px;
    }

    .residential-img {
        margin-top: -215px;
    }

    .residential-info {
        margin-top: -50px;
    }

    .commercial-info {
        margin-top: -40px;
    }

    .land-img {
        margin-top: -70px;
    }

    .land-info {
        margin-top: 70px;
    }

 }

@media (min-width: 1300px) {
    .commercial-property-img {
        margin-top: -45px;
    }

    .residential-img {
        margin-top: -240px;
    }

    .residential-info {
        margin-top: -40px;
    }

    .commercial-info {
        margin-top: 15px;
        margin-left: 1rem;
    }

    .land-img {
        margin-top: -60px;
    }

    .land-info {
        margin-top: 120px;
        padding-bottom: 0;
    }
 }

 @media (min-width: 1581px) {
    .commercial-property-img {
        margin-top: -20px;
    }

     .commercial-info {
        margin-top: 40px;
    }
 }
    
 @media (min-width: 2500px) {
    .residential-img {
        margin-top: -235px;
    }

    .residential-info {
        margin-top: -3px;
    }
 }
  
@media (max-width: 991.98px) {
    .charcoal-wrapper {
        padding: 3rem;
    }

    .information-column {
        padding: 2rem;
    }

    .land-info {
        padding-bottom: 0;
    }

    .parallax-scroll {
        transform: translate3d(0px, 0px, 0px)!important;
    }
}

/* WIDGET */ 

.services-vertical-widget { 
    border-left: 3px solid #555555;
    height: 35px;
    left: 50%;
    bottom: 0;
    position: absolute;

}

.services-widget-container {
    background-color: #F1F2F2;
    position: relative;
}

.margin-widget {
    margin-bottom: 3rem;
}

.testimonials-vertical-widget {
    border-left: 3px solid #968c8c;
    height: 35px;
    left: 50%;
    bottom: 0;
    position: absolute;
}

.testimonials-widget-container {
    background-color: #555555;
    color: #968c8c;
    position: relative;
}

.margin-widget {
    margin-bottom: 3rem;
}

/* TESTIMONIALS SECTION */

.overlay {
    background-color: #968c8c;
} 

/* CARD-TESTIMONIAL-DECK */

.align-bottom {
    position: absolute;
    bottom: 1rem;
}

.card-testimonials {
    border: 0;
    border-radius: 0;
    box-shadow: 5px 5px 15px #ffe139;
    transition: all 0.3s ease-in;
    webkit-transition: all 0.3s ease-in;
    background-color: #968c8c;
    color: white;
}

.card-testimonials:hover {
    background-color: #ffe139;
    color: black;
}

.img-fluid-testimonials {
    height: 150px;
    margin-top: -50px;
    border: 2px solid white;
}

.card-deck {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
/* PROPERTIES PAGE */

 .properties-hero-image-container {
    background: url('/media/balsamiq_banner.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 60vh;
 }

/* PROPERTIES-CARD */

.properties-card-img {
    height: 200px;
}

.padding-price {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.card-footer-properties {
    padding: 0;
}

/* PROPERTIES-NAVBAR */

.property-search-navbar {
    position: relative;
}

.property-search-nav-item {
    margin-right: 5rem;
}

.search-btn {
    margin-top: 2rem;
    width: 100%;
    height: 3rem;
}

.form-control {
    height: 3rem;
}

/* JUMBOTRON */

.jumbotron {
    padding: 2rem;
}

/* dropdown button */ 

.btn-dropdown {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
