@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700&family=Montserrat:ital,wght@0,600;0,700;1,600&family=Mrs+Saint+Delafield&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'IBM Plex Serif', serif;
    letter-spacing: 3px;
}

.yellow-text {
    color: #ffdd17;
}

/* NAVBAR */

.navbar {
    position: fixed;
    z-index: 100;
    padding: 0 4rem;
}

.navbar-nav .nav-link {
    color: white;
    font-family: 'IBM Plex Serif', serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}

.navbar-nav .nav-link:hover {
    color: #ffdd17;
    font-family: 'IBM Plex Serif', serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}

.navbar-toggler {
    border: 1px solid black;
}

.logo_img {
    width: 60%;
    
}

nav.black a img {
    width: 45%;
    transition: .5s;
} 

/* 2nd Navbar */

.black-header {
    position: fixed;
    z-index: 100;
    top: 0;
}

/*
.navbar-black {
    background: rgba(0, 0, 0, 0.6);
}
*/

.navbar-nav-2 .nav-link {
    color: black;
    font-weight: 500;
}


.header-container {
    padding-top: 120px;
}

.black {
    background: rgba(0, 0, 0, 0.8);
    transition: background 2000ms linear;
}

.black .nav-link {
    color: white;
}

/* Hero Image */

 .hero-image-container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/media/hero_image.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
 }

 /*
 @media (max-width: 576px) {

    .hero-image-container {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/media/hero_image.jpg') no-repeat center center;
        background-size: cover;
        position: relative;
        overflow: hidden;
        height: 100vh;
        width: 100%;
    }
 }
*/ 

 @media (max-width: 576px) {

    .cta h2  {
        font-size: 20px;
    }
}

.cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cta h1 {
    font-family: 'Montserrat', sans-serif;
    color: #ffdd17;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 50px;
}

.cta h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
}

.about-kms {
    position: absolute;
    bottom: 5%;
    left: 38%;  
    color: #F1F2F2;
 
}

.signature {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 40px;
    color: black;
}

/* Trick from https://www.geeksforgeeks.org/how-to-make-a-vertical-line-using-html/ */

.vertical { 
    border-left: 3px solid #F1F2F2;
    height: 75px;
    position: absolute;
    left: 48%;
} 

/* ABOUT SECTION  */

.about-wrapper-cream {
    background-color: #F1F2F2;
}

.about-container {
    padding-top: 50px;
}

.pb-container {
    padding-bottom: 30px;
}

.about-paragraph {
    padding: 0 6em;
}

@media (max-width: 991.98px) {
    .about-paragraph {
    padding: 1rem;
    }
}

@media (max-width: 991.98px) {
    .about-paragraph {
    padding: 1rem;
    }
}

@media (max-width: 576px) {
    .signature {
    font-size: 25px;
    }
}

@media (max-width: 310px) {
    .signature {
    font-size: 20qpx;
    }
}

/* SERVICES SECTION */

.charcoal-text {
    color: #0f0f0fd9;
}

.charcoal-wrapper {
    background-color: #0f0f0fd9;
    color: white;
    overflow: hidden;
    height: 100%;
}

.services-image {
    height: 100%;
    width: 100%;
    border: 0;
    position: relative;
}

.services-header-small {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
}

.services-header-small-extra {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plus-icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 2rem;
}

.fa-plus {
    font-size: 55px;
}

.small-h2-service {
     color: white;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 3px;
}

@media (max-width: 310px) {

    .small-h2-service {
        font-size: 25px;
    }

}

.padding-lg {
    padding-bottom: 3rem;
}


@media (max-width: 991.98px) {
    .services-image {
        height: 360px;
        padding-top: 3rem;
        padding-bottom: 3rem;
        border: none;
    }
    [data-aos-delay] {
    transition-delay: 0s !important;
    }
    .padding-lg {
    padding-bottom: 0;
}

 }

/* WIDGET */ 

.services-vertical-widget { 
    border-left: 3px solid #0f0f0fd9;
    height: 35px;
    left: 50%;
    bottom: 0;
    position: absolute;
    margin-left: -3px
}

.services-widget-container {
    background-color: #F1F2F2;
    position: relative;
}

.margin-widget {
    margin-bottom: 3rem;
}

.testimonials-vertical-widget {
    border-left: 3px solid #968c8c;
    height: 35px;
    left: 50%;
    bottom: 0;
    position: absolute;
}

.testimonials-widget-container {
    background-color: #0f0f0fd9;
    color: #968c8c;
    position: relative;
}

@media (max-width: 310px) {
    
    .testimonials-widget {
        margin-left: 0;
    }

    .testimonials-vertical-widget {
        left: 75%;
    }

}

.margin-widget {
    margin-bottom: 3rem;
}

/* TESTIMONIALS SECTION */

.overlay {
    background:linear-gradient(#ffd900, #ffc510);
} 

/* CARD-TESTIMONIAL-DECK */

.align-bottom {
    position: absolute;
    bottom: 1rem;
}

.testimonials-container {
    padding: 75px 0 75px 0;
}

.card-testimonials {
    margin-left: 2rem;
    margin-right: 2rem;
    height: 500px;
}

/* MEET THE TEAM SECTION */

.charcoal-overlay {
    background-color: #181b1e;
    padding-bottom: 75px;
}

.team-img {
    height: 250px;
    width: 100%;
    filter: grayscale(100%);
}

.p-lighter {
    font-weight: lighter;
}

.contact-team {
    position: relative;
    z-index: 2;
}

.hover-content {
    opacity: 0;
}

.team-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #ffd900;
    width: 50px;
}

.info {
    text-align: center;
    padding: 35px 0 45px 0;
    background-color:#33393e;
    transition: all 0.3s ease;
    position: relative;
    color: white;
}

.team-card:hover .info {
    padding: 35px 0 100px 0;
    margin: -55px 0 0 0;
    background: linear-gradient(#ffd900, #ffc510);
}

.team-card:hover hr {
    border-top: 2px solid #111111;
}

.team-card:hover .hover-content {
    opacity: 1;
}

.team-card:hover .hover-content span i {
    color: black;
}

.team-card:hover .team-img {
    filter: grayscale(0%);
}

@media (min-width: 992px) and (max-width:1200px) {
    .team-padding {
        padding-left: 2.5px;
        padding-right: 2.5px;
    }
}

.job-title {
    color: #ffd900;
}

.team-card:hover .job-title {
    color: black;
}

.team-card:hover .team-name {
    color: black;
}

.pt-team {
    padding-top: 75px;
}

@media (max-width: 991.98px) {
    .team-padding {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
 }

.ber_image {
    height: 30px;
    width: 60px;
}

.ber_image-card {
    height: 25px;
    width: 50px;
}

/* FOOTER */

footer {
    background-color:  #000;
    color: #fafafa;
    min-height: 120px;
    border-top: 2px solid #ffdd17;
}

.footer-co-heading h4 {
    font-family: 'Montserrat', sans-serif;
    color: #ffdd17;
    font-weight: 400;
    letter-spacing: 3px;
}

@media (max-width:398px) {
    
    .footer-co-heading h4 {
        font-size: large;
    }
}

.footer-body {
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.white-color {
    color: white;
}

.block {
    display: block;
    padding-bottom: 12px;
}

.daft-logo {
    height: 50px;
    margin-top: -10px;
    margin-left: -10px;
}

.daft-logo:hover {
    filter: grayscale(100%);
}

.color-yellow {
    color: #ffdd17;
}

.social-links-i {
    font-size: 25px;
}

.underline {
    text-decoration: underline;
}

.web-design a:hover {
    color: #ffdd17;
}

.contact-links i, .address-links i, .social-links i {
    color: #ffdd17;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.contact-links a:hover i, .address-links a:hover i, .social-links a:hover i {
    color: #df7b13;
}

.contact-links i:hover, .address-links i:hover, .social-links i:hover {
    color: #df7b13;
}

.contact-links a:hover, .address-links a:hover, .social-links a:hover  {
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .text-align {
        text-align: right;
    }
}