@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'IBM Plex Serif', serif;
    letter-spacing: 3px;
}

/* NAVBAR */

.navbar-nav .nav-link {
    color: white;
    font-family: 'IBM Plex Serif', serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}

.navbar-nav .nav-link:hover {
    color: #ffdd17;
    font-family: 'IBM Plex Serif', serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}

.navbar-toggler {
    border: 1px solid gray;
}

.logo_img {
    width: 60%;
}

/* Hero Image */

.hero-image-container {
    height: 100vh;
    position: relative;
}

.hero-image-container .hero-image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100vh;
}

.cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}





