.card-testimonials {
    border: 0;
    border-radius: 0;
    box-shadow: 5px 5px 15px #f8f9fa;
    transition: all 0.3s ease-in;
    webkit-transition: all 0.3s ease-in;
    background-color: #332f2f;
    color: white;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.card-testimonials:hover {
    background:linear-gradient(#ffd900, #ffc510);
    color: black;
    box-shadow: 5px 5px 15px #111111;
    transition: all 0.3s ease-in;
}

.slick-slide img {
    height: 150px;
    margin-top: -50px;
    border: 2px solid white;
}