{% extends "base.html" %} {% load static %} {% load properties_extras %} 
{% block content %} 


<div class="container-fluid slider-container">
    <div class="slider">
    {% for image in images %}
    <div class="selected-card-inner">
        <img src="{{ MEDIA_URL}}{{ image.image }}" alt="{{ MEDIA_URL}}{{ image.image }}">
    </div>
    {% endfor %}  
</div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
$(".slider").slick({
    slidesToShow: 1,
    centerMode: true,
    centerPadding: '25%',
    focusOnSelect: true,
});

</script>


{% endblock %}