{% extends "base.html" %}
{% load static %}

{% block content %}
    <!--500 MESSAGE-->
    <div class="overlay-black-page"></div>
    <div class="container error-content-down">
        <div class="row my-5">
            <div class="col-12 col-md-4 d-md-flex">
                <div class="error-logo color-yellow text-center">
                    <span class="d-block"><i class="fas fa-home"></i></span>
                    <h4>500 Error</h4>
                </div>
            </div>
            <div class="col-10 offset-1 col-md-8 offset-md-0 jumbotron error-jumbotron">
                <div class="row my-2">
                    <div class="col-12">
                        <h2 class="text-center text-capitalize mb-3">Oops this is definitely not where you want to Be!</h2>
                        <h5 class="text-center text-capitalize mb-3">Click the button below get back to the homepage!</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col button-center mb-3">
                        <a href="{% url 'home' %}" class="btn btn-error btn-lg rounded-0"> 
                        <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keane Mahony Smith</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}